@model Project_WebApp.ViewModels.Subject.SubjectViewModel
@{
    ViewData["Title"] = "Subject editor";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}

<form asp-controller="Subject" asp-action="Editor">
    <div id="PostEditorForm">
        <div id="PostEditorTitleContainer">
            <h2>
                @ViewBag.FormTitle
            </h2>
        </div>
        <div id="SubjectEditorTitleTxtContainer">
            <input type="text" class="form-control" asp-for="Name" placeholder="Naam" />
        </div>
        <div id="SubjectEditorTextContainer">
            <textarea class="form-control" asp-for="Description" placeholder="Beschrijving...">

            </textarea>
        </div>
        <div id="SubjectEditorSubmitContainer">
            <input type="submit" class="btn brandBtn"/>
        </div>
    </div>
</form>