@{
    ViewData["Title"] = "Onderwerpen";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}

Overzicht van onderwerpen

<a asp-area="" asp-controller="Subject" asp-action="Editor">
    Onderwerp aanmaken
</a>