@model Project_WebApp.ViewModels.SubjectViewModels.SubjectListViewModel

@{
    ViewData["Title"] = "Onderwerpen";
    ViewData["Active"] = "Onderwerpen";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}

<div class="row" id="btnNewSubjectContainer">
    <div class="col-md-6">
        <h2>
            Onderwerpen
        </h2>
    </div>
    <div class="col-md-6">
        <a id="btnNewSubject" asp-controller="Subject" asp-action="Editor" class="btn brandBtn">
            Onderwerp aanmaken
        </a>
    </div>
</div>
<form id="Filter" action="#" onsubmit="return false">
    <div class="row">
        <div class="col-md-6">
            <input id="txtSearchValue" name="SearchValue" onkeyup="GetSubjects()" type="search" asp-for="SearchValue" class="form-control" placeholder="Zoeken..." />
        </div>
        <div class="col-md-6">
            <select id="ddlFilter" name="FilterData" class="form-control" aria-label="Filter" asp-for="FilterData" onchange="GetSubjects()">
                <option disabled>Selecteer een filter</option>
                <option value="0" selected>Naam A-Z</option>
                <option value="1">Naam Z-A</option>
                <option value="2">Recent gemaakt</option>
                <option value="3">Populair</option>
            </select>
        </div>
    </div>
</form>
<div id="SubjectsListContainer">
    @for (int i = 0; i < Model.SubjectViewModels.Count; i = i + 2)
    {
        <div class="row">
            @for (int _i = 0; _i < 2; _i++)
            {
                @if (Model.SubjectViewModels.Count >= (i + _i) + 1)
                {
                    <div class="col-md-6">
                        <div class="SubjectBox">
                            <h2 class="SubjectBoxTitle brandColor">
                                @Model.SubjectViewModels[i + _i].Name
                            </h2>
                            <div class="SubjectBoxDescription">
                                @Model.SubjectViewModels[i + _i].Description
                            </div>
                            <div class="SubjectBoxLinkDetail">
                                <a asp-controller="Subject" asp-action="Detail" asp-route-id="@Model.SubjectViewModels[i + _i].Id" asp->Meer details...</a>
                            </div>
                            <div class="SubjectBoxAmountOfPosts">
                                Bevat @Model.SubjectViewModels[i + _i].AmountOfPosts Berichten
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }

</div>