@model Project_WebApp.ViewModels.Auth.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "Wachtwoord vergeten";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
<div id="ForgotPasswordFormContainer" class="SmallAuthContainer AuthFormContainer">
    <div class="AuthLogoContainer">
        <img src="~/images/logo.png" alt="Logo" class="AuthLogo" />
    </div>
    <div class="AuthTitleContainer">
        <h2>
            Wachtwoord vergeten
        </h2>
    </div>
    <div>
        @ViewBag.ErrorMessage
    </div>
    <form asp-controller="Auth" asp-action="ForgotPassword">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="ForgotPasswordEmailIcon">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
        <input type="email" id="txtForgotPasswordEmail" placeholder="Email" class="form-control" aria-label="Email" aria-describedby="ForgotPasswordEmailIcon"  asp-for="Email" />
    </div>
    <div id="ForgotPasswordButtonContainer">
        <input type="submit" class="btn brandBtn" value="Versturen" id="ForgotPasswordButton" />
    </div>
    </form>
</div>

<div class="AuthDriehoekContainer">
    <div class="AuthDriehoek">

    </div>
</div>
