@{
    ViewData["Title"] = "Wachtwoord vergeten";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
<div id="ForgotPasswordFormContainer" class="SmallAuthContainer AuthFormContainer">
    <div class="AuthLogoContainer">
        <img src="~/images/logo.png" alt="Logo" class="AuthLogo" />
    </div>
    <div class="AuthTitleContainer">
        <h2>
            Wachtwoord vergeten
        </h2>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="ForgotPasswordEmailIcon">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
        <input type="email" id="txtForgotPasswordEmail" placeholder="Email" class="form-control" aria-label="Email" aria-describedby="ForgotPasswordEmailIcon" />
    </div>
    <div id="ForgotPasswordButtonContainer">
        <input type="button" class="btn brandBtn" value="Versturen" id="ForgotPasswordButton" />
    </div>
</div>

<div class="AuthDriehoekContainer">
    <div class="AuthDriehoek">

    </div>
</div>
