@{
    ViewData["Title"] = "Afgemeld";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
<div id="NoAccesContainer" class="Center50">
    <div id="NoAccesTitleContainer">
        <h2>
            Om deze content te bekijken moet je aangemeld zijn<span class="brandColor">!</span>
        </h2>
    </div>
    <div>
        <a asp-controller="Auth" asp-action="Login" class="btn brandBtn">Aanmelden</a>
    </div>
    <div>
        <a>Terug</a>
    </div>
</div>