@{
    ViewData["Title"] = "Afgemeld";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
<div id="NoAccesContainer">
    <div id="NoAccesTitleContainer">
        <h2>
            Om deze content te bekijken moet je aangemeld zijn<span class="brandColor">!</span>
        </h2>
        <input type="button" class="btn brandColorBg" />
    </div>
</div>