@{
    ViewData["Title"] = "Afgemeld";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
<div id="NoAccesContainer" class="Center50">
    <div id="NoAccesTitleContainer">
        <h2>
            Jij hebt geen rechten om deze content te bekijken<span class="brandColor">!</span> Aangemeld met de juiste account<span class="brandColor">?</span>
        </h2>
    </div>
    <div>
        <a class="btn brandBtn" asp-controller="Home" asp-action="Index">Home scherm</a>
    </div>
    <div>
        <a asp-controller="Auth" asp-action="LogOut">@(this.User.Identity.IsAuthenticated ? "Aanmelden met een andere account" : "Aanmelden")</a>
    </div>
</div>