@model Project_WebApp.ViewModels.Auth.RestorePasswordViewModel
@{
    ViewData["Title"] = "Wachtwoord herstellen";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
<form asp-controller="Auth" asp-action="RestorePasswordSend" asp-route-UserId="@Model.UserId" asp-route-RestoreKey="@Model.RestoreKey">
    <div id="RestorePasswordFormContainer" class="SmallAuthContainer AuthFormContainer">
        <div class="AuthLogoContainer">
            <img src="~/images/logo.png" alt="Logo" class="AuthLogo" />
        </div>
        <div>
            @ViewBag.ErrorMessage
        </div>
        <div class="AuthTitleContainer">
            <h2>
                Wachtwoord herstellen
            </h2>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="RestorePasswordIcon">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
            <input asp-for="NewPass" type="password" id="txtRestorePassword" placeholder="Wachtwoord" class="form-control" aria-label="Wachtwoord" aria-describedby="RestorePasswordIcon" />
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="RestorePasswordIcon">
                    <i class="fas fa-redo-alt"></i>
                </span>
            </div>
            <input asp-for="NewPassRepeat" type="password" id="txtRestorePasswordRepeat" placeholder="Wachtwoord herhalen" class="form-control" aria-label="Wachtwoord herhalen" aria-describedby="RestorePasswordRepeatPassword" />
        </div>
        <div id="RestorePasswordButtonContainer">
            <input type="submit" class="btn brandBtn" value="Versturen" id="RestorePasswordRepeatPassword" />
        </div>
    </div>
</form>

<div class="AuthDriehoekContainer">
    <div class="AuthDriehoek">
    </div>
</div>