@{
    ViewData["Title"] = "Wachtwoord herstellen";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}

<div id="RestorePasswordFormContainer" class="SmallAuthContainer AuthFormContainer">
    <div class="AuthLogoContainer">
        <img src="~/images/logo.png" alt="Logo" class="AuthLogo" />
    </div>
    <div class="AuthTitleContainer">
        <h2>
            Wachtwoord herstellen
        </h2>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="RestorePasswordIcon">
                <i class="fas fa-lock"></i>
            </span>
        </div>
        <input type="password" id="txtRestorePassword" placeholder="Wachtwoord" class="form-control" aria-label="Wachtwoord" aria-describedby="RestorePasswordIcon" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="RestorePasswordIcon">
                <i class="fas fa-redo-alt"></i>
            </span>
        </div>
        <input type="password" id="txtRestorePasswordRepeat" placeholder="Wachtwoord herhalen" class="form-control" aria-label="Wachtwoord herhalen" aria-describedby="RestorePasswordRepeatPassword" />
    </div>
    <div id="RestorePasswordButtonContainer">
        <input type="button" class="btn brandBtn" value="Versturen" id="RestorePasswordRepeatPassword" />
    </div>
</div>

<div class="AuthDriehoekContainer">
    <div class="AuthDriehoek">
    </div>
</div>