/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
h2 {
    font-weight: 700;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

    a.navbar-brand #HeaderLogo {
        width: 100px;
        height: 100px;
        margin-right: 50px;
    }

#navbarDropdown:hover {
    cursor: pointer;
}

#navbarDropdownMenu {
    left: -100%;
}

#HeaderDriehoekContainer {
    position: absolute;
    right: 0px;
    /*width:100%;*/
    top: -25px;
    z-index: 0;
}

@media only screen and (min-width: 768px) {
    #HeaderDriehoek {
        --width: calc(100%-50%);
        width: 0;
        height: 0;
        opacity: 0.4;
        border-bottom: 150px solid transparent;
        z-index: 0;
    }
}

@media only screen and (max-width: 768px) {
    #HeaderDriehoek {
        visibility: hidden;
    }
}

.nav-link, .nav-item {
    z-index: 1000;
}

.navbar-toggler {
    z-index: 1000
}
/*
/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link.active {
    /*border-bottom: 1px solid #E8D500;*/
    font-weight: bold;
    color: #E8D500 !important;
}

    .nav-link.active:hover {
        color: #E8D500 !important;
    }
/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}*/
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    font-family: 'Inter';
}
/*
main{
    position:relative;
    min-height:100%;
    height:auto;
    margin:0px;
    padding:0px;
}
*/
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: #F4F5F7;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 25px;
}

/*Footer*/
.footerUrl {
    color: black;
    font-weight: 600;
    font-size: 25px;
}

    .footerUrl:hover {
        font-weight: bold;
        color: black;
        text-decoration: none;
    }
/*Custom*/
a.NoStyleUrl, a.NoStyleUrl:hover, a.NoStyleUrl:focus, a.NoStyleUrl:active {
    /*text-decoration: none;*/
    color: inherit;
}

/*BRANDING*/
.brandColor {
    color: #E8D500;
}

.brandColorBg {
    background-color: #E8D500;
}

.brandBtn {
    background-color: #E8D500;
    color: white;
    font-weight: bold;
    width: 150px;
}

    .brandBtn:hover {
        color: white;
    }

@media only screen and (min-width: 1000px) {
    .Center50 {
        width: 50%;
        transform: translate(50%);
    }
}

@media only screen and (max-width: 1000px) {
    .Center50 {
        width: 100%;
    }

        .Center50 .row {
            margin-bottom: 0px !important;
        }

            .Center50 .row > div {
                margin-bottom: 10px;
            }
}
/*Auth*/
.AuthLogo {
    width: 150px;
    margin-bottom: 25px;
}

.AuthLogoContainer {
    text-align: center;
}

.AuthTitleContainer {
    margin-bottom: 20px;
}

.AuthDriehoekContainer {
    position: absolute;
    /*left: -700px;*/
    left: 0px;
    /*width:100%;*/
    top: 0px;
    z-index: -1;
    opacity: 0.5;
}

@media only screen and (min-width: 768px) {
    .AuthDriehoekContainer .AuthDriehoek {
        left: 0px;
        width: 0;
        height: 0;
        opacity: 0.4;
        /*border-top: 350px solid transparent;*/
        /*border-left: 700px solid #555;*/
        /*border-bottom: 350px solid transparent;*/
        /*transform: rotate(45deg);*/
    }
}

@media only screen and (max-width: 768px) {
    .AuthDriehoekContainer .AuthDriehoek {
        visibility: hidden;
    }
}

/*Login*/
#LoginFormContainer {
    width: 80%;
    margin: auto;
}

@media only screen and (min-width: 1000px) {
    #LoginFormContainer {
        width: 35% !important;
    }
}

#LoginFormContainer .brandBtn {
    width: 100%;
}

#LoginFormContainer .input-group {
    margin-bottom: 20px;
}
/*#LoginFormLogoContainer{
    text-align:center;
}*/
#LoginForgotPassword {
    text-align: right;
}

#LoginRememberMe {
    position: relative;
    width: 50%;
}

#LoginForgotPassword {
    position: absolute;
    width: 50%;
    right: 0px;
    top: 0px;
}

#LoginRememberMeForgotPasswordContainer {
    position: relative;
    padding-left: 20px;
    margin-bottom: 55px;
}

.AuthFormContainer {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
/*#LoginButtonContainer{
    text-align:right;
}*/
/*Registreren*/
#RegisterFomContainer .row {
    margin-bottom: 25px;
}

#RegisterAcceptTermsContainer {
    padding-left: 20px;
}

#btnRegistreren {
    margin-right: 15px;
}
/*ForgotPassword*/
@media only screen and (min-width: 768px) {
    .SmallAuthContainer {
        /*height:400px;*/
        width: 350px;
        margin: auto;
        padding-bottom: 100px;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .SmallAuthContainer {
        width: 100%;
    }
}

#ForgotPasswordButtonContainer {
    padding-top: 25px;
}

#RestorePasswordFormContainer > div {
    padding-bottom: 25px;
}
/*NO ACCES*/
#NoAccesContainer {
    /*width: 50%;*/
    text-align: center;
    /*transform: translateX(50%);*/
    margin-top: 50px;
}

#NoAccesTitleContainer {
    font-weight: bold;
    margin-bottom: 50px;
}

#NoAccesContainer .brandBtn {
    margin-bottom: 50px;
}
/*Home*/
/*@media only screen and (min-width: 768px) {
    .HomeBgShape {
        position: absolute;*/
/*Header height*/
/*top: 127px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .HomeBgShapeBlock {
        height: 100px;
        width: 100%;
        background-color: #F4F5F7;
        position: relative;
        top: 0px;
        left: 0px;
    }

    .HomeBgShapeCircle {
        background-color: #F4F5F7;
        height: 500px;
        width: 100%;
        border-radius: 50%;
        position: relative;
    }
}

@media only screen and (max-width: 768px) {
    .HomeBgShape {
        visibility: collapse !important;
        height: 0px !important;
    }
}*/

#HomeTitleContainer h1 {
    font-size: 80px;
    margin-bottom: 50px;
    font-weight: 900;
}

/*#Home2thPart {
    width: 50%;
    transform: translateX(50%);
    text-align: center;
    margin-top: 150px;
}*/
#Home2thPart {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #Home2thPart {
        width: 50%;
        transform: translateX(50%);
        margin-top: 150px;
        /*       text-align: center;
        margin-top: 150px;*/
    }
}

@media only screen and (max-width: 768px) {
    #Home2thPart {
        margin-top: 50px;
    }
}

#Home2thPart h2 {
    margin-bottom: 35px;
}

#HomeHr {
    background-color: #BCBDBF;
}

#HomeImg1 {
    width: 100%;
}

#HomeImg2 {
    width: 100%;
}

#Home3thPart {
    /*margin-top: 400px;*/
    margin: 50px 0px;
}

#Home4thPart {
    margin: 50px 0px;
    text-align: right;
}

#HomeAboutButton {
    width: 50%;
    margin-top: 50px;
}
/*RecentPost*/
.RecentPost {
    width: 100%;
    background-color: #F9F9F9;
    border: 1px solid #AFAFAF;
    padding: 5px;
    margin-top: 15px;
}

.RecentPostTitle {
    font-weight: 600;
    font-size: 18px;
}

.RecentPostSubjects {
    margin: 15px 0px;
}

.SubjectTag {
    /*width:150px;*/
    margin-right: 10px;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    color: white !important;
}

.SubjectTagDeleteButton:hover {
    cursor: pointer;
}

.SubjectTagTooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white !important;
}

    .SubjectTagTooltip .SubjectTagTooltipText {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .SubjectTagTooltip .SubjectTagTooltipText::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .SubjectTagTooltip:hover .SubjectTagTooltipText {
        visibility: visible;
        opacity: 1;
    }

/*View Post*/
.ShowPost {
    margin-top: 25px;
    width:100%;
}

.ShowPostTitle {
    margin-top: 25px;
}

.ShowPostUserImage {
    width: 100px;
}

.ShowPostTextContainer, .ShowPostLikeAndCommentButtonContainer {
    margin-top: 25px;
}

.MessageMenuButton{
    position:absolute;
    right:0px;
    font-size:25px;
    cursor:pointer;
}
.MessageMenu .dropdown-item {
    cursor:pointer;
}

.ShowPostLikeAndComment {
    font-size: 50px;
    margin-right: 25px;
    color: black;
}

    .ShowPostLikeAndComment:hover {
        cursor: pointer;
    }

.ShowPostLikeAndCommentButtonContainerPart {
    width: 50%;
    display: table-cell;
}

.ShowPostHr {
    margin: 25px 0px;
}

@media only screen and (min-width: 768px) {
    .CommentSectionContainer > .col {
        padding: 0px;
    }
}

.CommentSection {
    margin-top: 25px;
}

.CommentSectionTextarea {
    height: 200px !important;
}

.Comment {
    margin: 50px 0px;
}

.CommentTextContainer {
    margin-top: 15px;
    word-wrap:break-word;
}

.Sub.Comment {
    margin-left: 100px;
}
/*Post editor*/
#PostEditorSubjectDdlContainer {
    margin-bottom: 25px;
}

#PostEditorTextContainer textarea {
    min-height: 200px;
}

#PostEditorTitleTxtContainer,
#PostEditorTextContainer,
#PostEditorSubmitContainer,
#PostEditorPublicContainer {
    margin-top: 25px;
}
/*Subject Editor*/
#SubjectEditorTitleTxtContainer, #SubjectEditorTextContainer {
    margin-bottom: 25px;
}

    #SubjectEditorTextContainer textarea {
        min-height: 200px;
    }

.SubjectBox {
    width: 100%;
    margin: 50px 5px;
}

.SubjectBoxTitle {
    margin-bottom: 15px;
}

.SubjectBoxDescription {
    height: 200px;
    overflow: hidden;
}

#SubjectBoxDescriptionDetail {
}

.SubjectBoxLinkDetail {
    margin-top: 15px;
}

.SubjectBoxAmountOfPosts {
    margin-top: 20px;
    font-weight: bold;
}


/*Subject list*/
#btnNewSubjectContainer {
    margin-bottom: 25px;
}

#btnNewSubject {
    width: 200px;
    position: relative;
    float: right;
}
