@model Project_WebApp.ViewModels.User.UserEditProfileViewModel
@{
    ViewData["Title"] = "Profiel wijzigen";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}
<form asp-controller="User" asp-action="SaveProfile" enctype="multipart/form-data">
    <div class="row mt-5">
        <div class="col-md-5">
            <img id="imgProfilePicture" class="rounded-circle ProfilePicture ProfilePictureEditProfile"
                 src="@(!string.IsNullOrEmpty(Model.ProfilePicturePath) ? Model.ProfilePicturePath : @"\images\persoon.png")" />
            <div class="rounded-circle ProfilePicture ProfilePictureEditProfile">
                <div class="ProfilePictureEditProfileText">
                    <span id="ProfilePictureEditProfileTextBtn" onclick="ProfilePictureEditProfileTextBtn_Click()">
                        Profielfoto wijzigen...
                    </span>
                    <input id="fiProfilePicture" type="file" asp-for="NewProfilePicture" style="visibility:collapse;" onchange="fiProfilePicture_Changed()" />
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h2>
                @*@Model.UserName*@
                Profiel wijzigen:
            </h2>
            @*<span class="ProfileMenuButton" role="button" id="ProfileMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-chevron-circle-down"></i>
                </span>
                <div class="dropdown-menu dropdown-menu-right ProfileMenu" aria-labelledby="ProfileMenu">
                <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id" class="">
                <span class="dropdown-item"><i class="fas fa-edit"></i> Bewerken</span>
                </a>
                <a asp-controller="User" asp-action="Delete" asp-route-id="@Model.Id" class="">
                <span class="dropdown-item"><i class="fas fa-trash-alt"></i> Verwijderen</span>
                </a>
                </div>*@
            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="text" asp-for="UserName" placeholder="Gebruikersnaam" class="form-control"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="text" asp-for="LastName" placeholder="Naam" class="form-control"/>
                </div>
                <div class="col-md-6">
                    <input type="text" asp-for="FirstName" placeholder="Voornaam" class="form-control"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="text" asp-for="Email" placeholder="Email" class="form-control"/>
                </div>
                <div class="col-md-6">
                    <input type="date" asp-for="DateOfBirth" placeholder="Geboortedatum" class="form-control" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn brandBtn" value="Opslaan" />
                </div>
            </div>
        </div>
    </div>
</form>