@model Project_WebApp.ViewModels.User.UserProfileViewModel
@{
    ViewData["Title"] = "Profiel Page";
    Layout = "~/Views/Shared/ProjectLayout.cshtml";
}

profiel pagina
<br/>
<a asp-area="" asp-controller="User" asp-action="EditProfile">
    Profiel wijzigen
</a>